<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/boardpage.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/bc1f5db172.js"
      crossorigin="anonymous"
    ></script>
    <title>Konstargram</title>
</head>
<body>
    <header>
        <div class="header-left">
            <a href="{% url 'mainpage' %}"><img src="" alt="">로고</a>
            <i class="fas fa-chevron-right"></i>
            <a href="{% url 'boardpage' %}">전체 게시판</a>
            <i class="fas fa-chevron-right" id="logo-board-icon"></i>
            <p id="logo-board"></p>
        </div>
        <div class="header-right">
            <div class="realtimeSearch">
                <span class="realtimeSearch-span">
                    실시간 인기 검색어
                    <i class="fas fa-caret-down"></i>
                </span>
                <div class="realtimeSearch-dropdown">
                    <a href="#" id="s1">삼색이</a>
                    <a href="#" id="s2">야통이</a>
                    <a href="#" id="s3">무</a>
                </div>
            </div>
            <input type="text" placeholder="검색" id="search">
            <span id="login">로그인</span>
            <span id="signup">회원가입</span>
            <i class="fas fa-user"></i>
        </div>
    </header>

    <section class="chart">
        <!-- Center Chart -->
        <ul class="centerChart">
            <!-- Sad 게시판 -->
            <div class="postList">
                <div class="board-title">
                    <div class="board-click">
                        <p class="postTitle">Sad Post</p>
                        <p class="postExplain">슬픈 이야기를 공유하는 공간입니다.</p>
                    </div>
                    <div class="postMenu">
                        <p class="postCount">posts 1,234</p>
                        <i class="fas fa-ellipsis-h" id="editboardIcon"></i>
                    </div>
                </div>
                <ul class="postChart" id="scroll">
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/yatong.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <p class="postContent">건냥이 보고가세요~!
                                <br>너무 귀여워요😺😺</p>
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/samsek.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="editBoard">
                    <p class="addPost">게시물 추가</p>
                    <p class="deleteBoard">게시판 삭제</p>
                </div>
            </div>

            <!-- Happy 게시판 -->
            <div class="postList">
                <div class="board-title">
                    <div class="board-click">
                        <p class="postTitle">Happy Post</p>
                        <p class="postExplain">행복한 이야기를 공유하는 공간입니다.</p>
                    </div>
                    <div class="postMenu">
                        <p class="postCount">posts 3,321</p>
                        <i class="fas fa-ellipsis-h" id="editboardIcon"></i>
                    </div>
                </div>
                <ul class="postChart">
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/yatong.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <p class="postContent">건냥이 보고가세요~!
                                <br>너무 귀여워요😺😺</p>
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="editBoard">
                    <p class="addPost">게시물 추가</p>
                    <p class="deleteBoard">게시판 삭제</p>
                </div>
            </div>

             <!-- Tip 게시판 -->
             <div class="postList">
                <div class="board-title">
                    <div class="board-click">
                        <p class="postTitle">Tip Post</p>
                        <p class="postExplain">모든 꿀팁을 공유하는 공간입니다.</p>
                    </div>
                    <div class="postMenu">
                        <p class="postCount">posts 4,321</p>
                        <i class="fas fa-ellipsis-h" id="editboardIcon"></i>
                    </div>
                </div>
                <ul class="postChart">
                    <li>
                        <div class="post-click">
                            <p class="postContent">건냥이 보고가세요~!
                                <br>너무 귀여워요😺😺</p>
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="editBoard">
                    <p class="addPost">게시물 추가</p>
                    <p class="deleteBoard">게시판 삭제</p>
                </div>
            </div>

             <!-- Project 게시판 -->
             <div class="postList">
                <div class="board-title">
                    <div class="board-click">
                        <p class="postTitle">Project Post</p>
                        <p class="postExplain">함께 프로젝트를 진행하는 공간입니다.</p>
                    </div>
                    <div class="postMenu">
                        <p class="postCount">posts 321</p>
                        <i class="fas fa-ellipsis-h" id="editboardIcon"></i>
                    </div>
                </div>
                <ul class="postChart">
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/yatong.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/samsek.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <p class="postContent">건냥이 보고가세요~!
                                <br>너무 귀여워요😺😺</p>
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-click">
                            <img class="post1" src="{% static 'images/moo.jpg' %}">
                            <p class="postExplain">우리집 건냥이</p>
                            <div class="postHover">
                                <div class="post-top">
                                    <p class="postComment">yatong</p>
                                </div>
                                <div class="post-bottom">
                                    <i class="fas fa-heart"> 1,234</i>
                                    <p class="postComment">댓글56</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="editBoard">
                    <p class="addPost">게시물 추가</p>
                    <p class="deleteBoard">게시판 삭제</p>
                </div>
            </div>
        </ul>
        <div class="newBoard">새 게시판 만들기</div>
        <div id="modal">
            <form class="newBoard-modal">
                <div>
                    <h2>새 게시판 생성</h2>
                    <p id="modal_close_btn">X</p>
                </div>
                <input type="text" placeholder="게시판 제목" id="newBoard-title">
                <input type="text" placeholder="한 줄 설명을 적어주세요." id="newBoard-explain">
                <input type="button" value="생성" id="add_btn">
            </form>
            <div class="modal_layer"></div>
        </div>



        <!-- 게시판 안의 게시물들 -->
        <ul class="centerChart" id="posts">
            <li class="post">
                <div class="postTop">
                    <span>joker</span>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <img class="postImg" src="{% static 'images/marilyn.jpg' %}">
                <div class="postBottom">
                    <span>더보기</span>
                    <div class="postIcon">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                </div>
            </li>
            <li class="post">
                <div class="postTop">
                    <span>haha ha moo</span>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <img class="postImg" src="{% static 'images/moo.jpg' %}">
                <div class="postBottom">
                    <span>더보기</span>
                    <div class="postIcon">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                </div>
            </li>
            <li class="post">
                <div class="postTop">
                    <span>Dick Hunter Yorkmang</span>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <img class="postImg" src="{% static 'images/samsek.jpg' %}">
                <div class="postBottom">
                    <span>더보기 </span>
                    <div class="postIcon">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                </div>
            </li>
        </ul>
        


        <!-- Right Chart -->
        <ul class="rightChart">
            <ul class="noticeBoard">
                <span><i class="fas fa-clipboard"></i>전체 게시판</span>
                <li id="a2">의료IT공학과</li>
                <li id="a3">간호학과</li>
                <li id="a4">의공학과</li>
                <li id="a4">안녕</li>
                <li id="a4">안녕</li>
            </ul>

            <ul class="notice">
                <span><i class="fas fa-exclamation-triangle"></i>공지사항</span>
                <li id="n2">수강신청</li>
                <li id="n3">등록금 납부</li>
            </ul>

            <ul class="topProject">
                <span><i class="fas fa-fire"></i>인기 프로젝트</span>
                <li id="hp1">의료IT 프로젝트</li>
                <li id="hp2">의료IT 프로젝트</li>
                <li id="hp3">의료IT 프로젝트</li>
            </ul>

            <ul class="question">
                <span><i class="fas fa-question-circle"></i>질의응답</span>
                <a href="{% url 'questionpage' %}" id="q2">문의사항</li>
            </ul>
        </ul>
    </section>

    <!-- Floating Button -->
    <button class="btn_chat">
        <i class="far fa-comments"></i>
    </button>

    <div class="chatArea">
        <div class="infoArea">
            <span class="chat-room-name">의료IT공학과 채팅방</span>
            <button class="chatClose"><i class="fas fa-times"></i></button>
        </div>
        <div class="chat-contents"></div>
        <div class="inputArea">
            <input class="input-txt" type="text">
            <button class="enter-btn"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>

    <script src="{% static 'js/mainpage.js' %}"></script>
    <script src="{% static 'js/boardpage.js' %}"></script>
</body>
</html>