<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/boardpage.css' %}"> -->
    <link rel="stylesheet" href="../static/css/mainpage.css">
    <link rel="stylesheet" href="../static/css/mainpage.css">
    <link rel="stylesheet" href="../static/css/boardpage.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/bc1f5db172.js"
      crossorigin="anonymous"
    ></script>
    <title>Konstargram</title>
</head>
<body>
    <header>
        <div class="header-left">
            <a href="{%url ''%}"><img src="" alt="">로고</a>
            <i class="fas fa-chevron-right"></i>
            <a href="boardpage.html">전체 게시판</a>
            <i class="fas fa-chevron-right" id="logo-board-icon"></i>
            <a href="" id="logo-board"></a>
        </div>
        <div class="header-right">
            <div class="realtimeSearch">
                <span class="realtimeSearch-span">
                    실시간 인기 검색어
                    <i class="fas fa-caret-down"></i>
                </span>
                <div class="realtimeSearch-dropdown">
                    <a href="#" id="s1">삼색이</a>
                    <a href="#" id="s2">야통이</a>
                    <a href="#" id="s3">무</a>
                </div>
            </div>
            <input type="text" placeholder="검색" id="search">
            <span id="login">로그인</span>
            <span id="signup">회원가입</span>
            <i class="fas fa-user"></i>
        </div>
    </header>

    <section class="chart">
        <!-- Center Chart -->
        <ul class="centerChart">
            <!-- Sad 게시판 -->
            <div class="postList">
                <div class="board-title">
                    <div class="board-click">
                        <p class="postTitle">Sad Post</p>
                        <p class="postExplain">슬픈 이야기를 공유하는 공간입니다.</p>
                    </div>
                    <div class="postMenu">
                        <p class="postCount">posts 1,234</p>
                        <i class="fas fa-ellipsis-h" id="editboardIcon"></i>
                    </div>
                </div>
                <ul class="postChart" id="scroll">
                    <li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/yatong.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="post-click">
                                <!-- <img class="post1" src="../static/images/moo.jpg"> -->
                                <p class="postContent">건냥이 보고가세요~!</p>
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/samsek.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="editBoard">
                    <p class="addPost">게시물 추가</p>
                    <p class="deleteBoard">게시판 삭제</p>
                </div>
            </div>

            <!-- Happy 게시판 -->
            <div class="postList">
                <div class="board-title">
                    <div class="board-click">
                        <p class="postTitle">Happy Post</p>
                        <p class="postExplain">행복한 이야기를 공유하는 공간입니다.</p>
                    </div>
                    <div class="postMenu">
                        <p class="postCount">posts 3,321</p>
                        <i class="fas fa-ellipsis-h" id="editboardIcon"></i>
                    </div>
                </div>
                <ul class="postChart">
                    <li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/yatong.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/samsek.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="editBoard">
                    <p class="addPost">게시물 추가</p>
                    <p class="deleteBoard">게시판 삭제</p>
                </div>
            </div>

             <!-- Tip 게시판 -->
             <div class="postList">
                <div class="board-title">
                    <div class="board-click">
                        <p class="postTitle">Tip Post</p>
                        <p class="postExplain">모든 꿀팁을 공유하는 공간입니다.</p>
                    </div>
                    <div class="postMenu">
                        <p class="postCount">posts 4,321</p>
                        <i class="fas fa-ellipsis-h" id="editboardIcon"></i>
                    </div>
                </div>
                <ul class="postChart">
                    <li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/yatong.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/samsek.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="editBoard">
                    <p class="addPost">게시물 추가</p>
                    <p class="deleteBoard">게시판 삭제</p>
                </div>
            </div>

             <!-- Project 게시판 -->
             <div class="postList">
                <div class="board-title">
                    <div class="board-click">
                        <p class="postTitle">Project Post</p>
                        <p class="postExplain">함께 프로젝트를 진행하는 공간입니다.</p>
                    </div>
                    <div class="postMenu">
                        <p class="postCount">posts 321</p>
                        <i class="fas fa-ellipsis-h" id="editboardIcon"></i>
                    </div>
                </div>
                <ul class="postChart">
                    <li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/yatong.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/samsek.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><li>
                        <div>
                            <div class="post-click">
                                <img class="post1" src="../static/images/moo.jpg">
                                <p class="postExplain">우리집 건냥이</p>
                                <div class="postHover">
                                    <div class="post-top">
                                        <p class="postComment">yatong</p>
                                    </div>
                                    <div class="post-bottom">
                                        <i class="fas fa-heart"> 1,234</i>
                                        <p class="postComment">댓글56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="editBoard">
                    <p class="addPost">게시물 추가</p>
                    <p class="deleteBoard">게시판 삭제</p>
                </div>
            </div>
        </ul>
        <div class="newBoard">새 게시판 만들기</div>
        <div id="modal">
            <form class="newBoard-modal">
                <div>
                    <h2>새 게시판 생성</h2>
                    <p id="modal_close_btn">X</p>
                </div>
                <input type="text" placeholder="게시판 제목" id="newBoard-title">
                <input type="text" placeholder="한 줄 설명을 적어주세요." id="newBoard-explain">
                <input type="button" value="생성" id="add_btn">
            </form>
            <div class="modal_layer"></div>
        </div>

        <!-- 문의사항 게시판 -->
        <ul class="centerChart">
            <div class="QAChart">
                <div class="board">
                    <p class="board-txt">문의사항 게시판</p>
                </div>
                <ul class="postChart">
                    <li>
                        <div>
                            <p>4</p>
                            <p class="postTitle">질문 있습니다~!</p>
                            <p>new</p>
                        </div>
                        <div>
                            <p class="writeTime">2021.02.24</p>
                            <p class="postCount">답변 2</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>3</p>
                            <p class="postTitle">문의사항 있습니다~!</p>
                            <p>new</p>
                        </div>
                        <div>
                            <p class="writeTime">2021.02.23</p>
                            <p class="postCount">답변 1</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>2</p>
                            <p class="postTitle">심심해요!</p>
                            <p></p>
                        </div>
                        <div>
                            <p class="writeTime">2021.02.22</p>
                            <p class="postCount">답변 0</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>1</p>
                            <p class="postTitle">불편해요!</p>
                            <p></p>
                        </div>
                        <div>
                            <p class="writeTime">2021.02.21</p>
                            <p class="postCount">답변 1</p>                            
                        </div>
                    </li>
                </ul>

                <div class="Q-write">글쓰기</div>
            </div>
        </ul>

        <!-- 문의사항 작성 -->
        <div class="writePost">
            <p id="Q-postform">문의사항</p>
            <form class="postform">
                <div class="title">
                    <p class="title-txt">제목</p>
                    <input type="text" id="titleId" placeholder="*제목을 입력해 주세요.">
                </div>
                <div class="content">
                    <p class="content-txt">내용</p>
                    <textarea name="contentName" id="contentId" cols="30" rows="10" placeholder="*내용을 입력해 주세요."></textarea>
                </div>
                <div class="password">
                    <p class="password-txt">암호</p>
                    <input type="text" id="passwordId" placeholder="비공개를 원하시면 암호를 입력해 주세요.">
                </div>
                <div>
                    <div id="essential">*는 필수 입력 사항</div>
                    <input id="write" type="button" value="작성">
                </div>
            </form>
        </div>


        <!-- 게시판 안의 게시물들 -->
        <ul class="centerChart" id="posts">
            <li class="post">
                <div class="postTop">
                    <span>joker</span>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <img class="post1" src="../static/images/marilyn.jpg">
                <div class="postBottom">
                    <span>더보기</span>
                    <div class="postIcon">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                </div>
            </li>
            <li class="post">
                <div class="postTop">
                    <span>haha ha moo</span>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <img class="post1" src="../static/images/moo.jpg">
                <div class="postBottom">
                    <span>더보기</span>
                    <div class="postIcon">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                </div>
            </li>
            <li class="post">
                <div class="postTop">
                    <span>Dick Hunter Yorkmang</span>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <img class="post1" src="../static/images/samsek.jpg">
                <div class="postBottom">
                    <span>더보기 </span>
                    <div class="postIcon">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                </div>
            </li>
        </ul>
        


        <!-- Right Chart -->
        <ul class="rightChart">
            <ul class="noticeBoard">
                <span><i class="fas fa-clipboard"></i>전체 게시판</span>
                <li id="a2">의료IT공학과</li>
                <li id="a3">간호학과</li>
                <li id="a4">의공학과</li>
                <li id="a4">안녕</li>
                <li id="a4">안녕</li>
            </ul>

            <ul class="notice">
                <span><i class="fas fa-exclamation-triangle"></i>공지사항</span>
                <li id="n2">수강신청</li>
                <li id="n3">등록금 납부</li>
            </ul>

            <ul class="topProject">
                <span><i class="fas fa-fire"></i>인기 프로젝트</span>
                <li id="hp1">의료IT 프로젝트</li>
                <li id="hp2">의료IT 프로젝트</li>
                <li id="hp3">의료IT 프로젝트</li>
            </ul>

            <ul class="question">
                <span><i class="fas fa-question-circle"></i>질의응답</span>
                <li id="q2">불편사항</li>
            </ul>
        </ul>
    </section>

    <!-- Floating Button -->
    <button class="btn_chat">
        <i class="far fa-comments"></i>
    </button>

    <div class="chatArea">
        <div class="infoArea">
            <span class="chat-room-name">의료IT공학과 채팅방</span>
            <button class="chatClose"><i class="fas fa-times"></i></button>
        </div>
        <div class="chat-contents"></div>
        <div class="inputArea">
            <input class="input-txt" type="text">
            <button class="enter-btn"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>

    <!-- <script src="{% static 'js/mainpage.js' %}"></script>
    <script src="{% static 'js/boardpage.js' %}"></script> -->
    <script src="../static/js/mainpage.js"></script>
    <script src="../static/js/boardpage.js"></script>
</body>
</html>