body{
    height: auto;
    font-family: 'Nanum Gothic', sans-serif;
}

/* 로고 옆 게시판 추가 */
.header-left {
    display: flex;
}

.header-left > i {
    color: #ff8a3d;
    padding-right: 5px;
    cursor: default;
}

.header-left > i:nth-child(4) {
    display: none;
}

.header-left>a:nth-child(5){
    cursor: default;
}


/* 전체 게시판 */
.centerChart {
    padding: 0 30px 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.postList{
    padding: 10px 10px 30px 10px;
    width: 800px;
    max-width: 800px;
    max-height: 363.8px;
    border-bottom: 1px dashed #bbbbbb;
}

.postList .board-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postList .board-click{
    margin: 15px 5px;
    cursor: pointer;
}


.postList .postTitle{
    font-weight: bold;
}

.postList .postExplain{
    font-size: 13px;
}

.postList .postCount{
    font-size: 13px;
    margin-right: 10px;
    color: #ff8a3d;
}


/* 횡슬라이드 */
.postList .postChart {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.09);
    max-width: 800px;
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    width: auto;
	overflow-x: auto;
	overflow-y: hidden;
    border-radius: 10px;
}


.postList .postChart:hover::-webkit-scrollbar-thumb {
	background-color: #bbbbbb;
}

.postList .postChart::-webkit-scrollbar {
    height: 8px;
  }
.postList .postChart::-webkit-scrollbar-track {
  background-color: transparent;
}
.postList .postChart::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: transparent;
}
.postList .postChart::-webkit-scrollbar-button {
  width: 5px;
}

.postList .post-click{
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}
.postList .post1{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

/* 게시판 메뉴(게시물 추가, 게시판 삭제) */
.postList .postMenu{
    display: flex;
    align-items: center;
}

.postList .postMenu>i{
    display: flex;
    color: #ff8a3d;
    cursor: pointer;
    border: 2px solid #fafafa;
}



.postList .editBoard{
    display: none;
    position: relative;
    bottom: 260px;
    justify-content: space-evenly;
    width: 780px;
    font-size: 20px;
    font-weight: bold;
    padding: 100px 0px 130px 0px;
}

.postList .editBoard>p{
    transition: all 0.3s ease;
}

.postList .editBoard>p:hover{
    background-color: rgba(256, 256, 256, 0.5);
    color: #ff8a3d;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #ff8a3d;
    border-radius: 50px;
    transition: all 0.2s ease;

}


/* 새 게시판 만들기 */
.newBoard{
    background-color: #ff8a3d;
    color: white;
    font-weight: bold;
    border: 2px solid #ff8a3d;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    width: 160px;
    margin-left: 485px;
    text-align: center;
    transition: all 0.3s ease;
}

.newBoard:hover{
    background-color: white;
    color: #ff8a3d;
    transition: all 0.3s ease;
}

/* 새 게시판 모달 창 만들기 */
#modal {
    display: none;
    position:relative;
    width:100%;
    z-index:1;
  }
  
  #modal h2 {
    margin:0;   
  }
  
  #modal .newBoard-modal {
    width:400px;
    margin:auto;
    padding:30px;
    background:#fff;
    position: relative;
    left: 70px;
    bottom: 500px;
    border-radius: 10px;
  }

  .newBoard-modal>div{
      display: flex;
      justify-content: space-between;
  }

  #modal_close_btn{
      transition: all 0.3s ease;
      font-size: 18px;
  }
  
  #modal_close_btn:hover{
      cursor: pointer;
      color: #ff8a3d;
      transition: all 0.3s ease;
  }

  #newBoard-title{
    margin: 20px 0 5px 0;
    padding: 5px;
    width: 334px;
  }

  #newBoard-explain{
    margin-bottom: 10px;
    padding: 5px;
    width: 334px;
  }

  #newBoard-title:focus,
  #newBoard-explain:focus{
      border: 0px;
      outline: 1.5px solid #ff8a3d;
  }

  
  #modal .modal_layer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    z-index:-1;
  }   

#modal .newBoard-modal .button-modal{
    display: flex;
    width: 334px;
}    


#add_btn{
    padding: 5px 10px;
    margin-left: 284px;
    cursor: pointer;
    background-color: #ff8a3d;
    color: white;
    border: 2px solid #ff8a3d;
    border-radius: 3px;
    transition: all 0.3s ease;
    width: 50px;
}

#add_btn:hover{
    background-color: white;
    color: #ff8a3d;
    transition: all 0.3s ease;
}

.noPost{
    display: flex;
    font-size: 13px;
    width: 750px;
    padding-bottom: 10px;
    justify-content: center;
}

/* 문의사항 게시판 */
.QAChart{
    display: none;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
    margin-left: 65px;
}

.QAChart .postChart{
    display: flex;
    flex-direction: column;
}

.QAChart .board{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #ff8a3d;
    display: flex;
    justify-content: space-between;
    width: 745px;
    padding: 10px;
}

.QAChart .postChart>li,
.QAChart .postChart>li>div{
    display: flex;
    justify-content: space-between;
}

.QAChart .postChart>li{
    border-bottom: 1px solid #bbbbbb;
    padding: 15px;
}

.QAChart .postChart .postTitle{
    font-weight: bold;
    margin-left: 10px;
}

.QAChart .postChart>li>div>p{
    font-size: 10px;
    color: #ff8a3d;
    margin-left: 10px;
    line-height: 18px;
}

.postCount{
    font-size: 10px;
    color: #bbbbbb;
    line-height: 20px;

}

#Q-icon{
    transition: all 0.3s ease;
}

#Q-icon:hover{
    cursor: pointer;
    color: #ff8a3d;
    transition: all 0.3s ease;
}

/* 문의사항 작성*/
.writePost { 
    margin: 0 0 30px 200px;
    flex-direction: column;  
    background-color: white;
    border-radius: 20px;
    padding: 30px;  
    max-width: 800px;
    height: auto;
}

#Q-postform{
    padding: 10px;
    font-size: 20px;
    border-bottom: 2px solid #ff8a3d;
    margin: 0 0 20px 0;
}

.writePost div{
    display: flex;
    margin-left: auto;
}
.writePost p{
    margin-right: 10px;
    font-size: 13px;
    line-height: 26px;
}

.writePost>form >div p{
    min-width: 32px;
}

#titleId,
#contentId,
#passwordId{
    border: 1px solid #bbbbbb;
    padding: 5px;
    font-size: 13px;
    width: 800px;
    border-radius: 5px;
}

#titleId:focus,
#contentId:focus,
#passwordId:focus{
    border: 0px;
    outline: 2px solid #ff8a3d;
}

#write {
    /* margin-left: auto; */
    background-color: #ff8a3d;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 60px;
    height: 35px;
    border: 2px solid #ff8a3d;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
}

#write:hover{
    background-color: white;
    color: #ff8a3d;
    transition: all 0.3s ease;
}

.centerChart:nth-child(3) .board-click {
    line-height: 28px;
}

.centerChart:nth-child(3) .postChart i{
    color: #bbbbbb;
}

#essential{
    font-size: 10px;
    color: #ff8a3d;
    width: 100px;
    line-height: 45px;
    margin: 10px 0 0 auto;
}

#contentId{
    min-height: 350px;
}

/* 게시판 안의 게시물들 */
#posts{
    display: none;
}

@media screen and (max-width:1200px){
    .postList{
        width: 120%;
    }
}

@media screen and (max-width:1400px){
    .writePost{
        width: 90%;
        margin-left: auto;
    }
}