body{
    background: #fafafa;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
    border: 1px solid #bbbbbb;
    width: 400px;
    background-color: white;
}

#header{
    width: 400px;
    display: flex;
    align-items: center;
}
#header .logo{
    margin: 20px 15px;
    display: flex;
    align-items: center;
    position: relative;
    top: 50%;
    left: 10%;
    padding-bottom: 20px;
}

a {
    text-decoration: none ;
    cursor: pointer;
}

.logo_text {
    font-size: 40px;
	font-weight: bold;
    font-style: italic;
    color: #FF8A3D;
    padding-bottom: 10px;
}

.explain_text {
    font-size: 25px;
    color:black;
    padding-left: 20px;
}

#username {
    width: 300px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    padding: 10px 15px;
    margin-bottom: 10px;
    
}

#username::placeholder {
    color: #bbbbbb;
    font-size: 13px;
}

#userphone {
    width: 300px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    padding: 10px 15px;
    margin-bottom: 15px;
}

#userphone::placeholder {
    color: #bbbbbb;
    font-size: 13px;
}


/* #certification {
    background-color: #FF8A3D;

    width: 332px;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid #FF8A3D;
    padding: 10px 15px;
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    cursor: pointer;
} */

#certification {
    background-color: #FF8A3D;

    width: 332px;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -40%);
    border-radius: 5px;
    border: 0px solid #FF8A3D;
    padding: 0px;
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    line-height: 52px;
    cursor: pointer;
}

.cf_box {
    width: 332px;
    height: 52px;
    display: flex;
    align-items: center;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -40%);
}

#cf_num {
    background-color: #fafafa;

    width: 80%;
    height: 48px;
    display: flex;
    align-items: center;
    position: relative;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid #FF8A3D;
    padding-left: 10px;
    line-height: 52px;
}

#cf_num::placeholder {
    font-size: 13px;
    color: #bbbbbb;
}

.timer {
    color: #bbbbbb;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 13px;
    transform: translate(-140%, -10%);
}

#cf_btn {
    background-color: #FF8A3D;

    width: 30%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50%;
    left: 14%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid #FF8A3D;
    padding: 0px;
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    cursor: pointer;
    margin: 10px;
}

#cf_success {
    background-color: #bbbbbb;

    width: 332px;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -40%);
    border-radius: 5px;
    border: 0px;
    padding: 0px;
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    line-height: 52px;
}

#next {
    background-color: #FFC198;

    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 80%;
    transform: translate(-45%,-20%);
    border-radius: 5px;
    border: 1px solid #FFC198;
    padding: 0px;
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    margin: 10px;
}

#next_on {
    background-color: #FF8A3D;

    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 80%;
    transform: translate(-45%,-20%);
    border-radius: 5px;
    border: 1px solid #FF8A3D;
    padding: 0px;
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    cursor: pointer;
    margin: 10px;
}

#signup_btn {
    background-color: #FF8A3D;

    width: 332px;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid #FF8A3D;
    padding: 10px 15px;
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    cursor: pointer;
}

#username {
    width: 300px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    padding: 10px 15px;
    margin-bottom: 15px;
}

select { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
} 

select::-ms-expand { 
    display: none; 
}

#select_num {
    position: absolute;
    left: 85%;
    top: 30%;
    color: #bbbbbb;
    cursor: pointer;
}

#usernum {
    width: 332px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    padding: 17px 15px;
    margin-bottom: 15px;
    color: black;
    font-size: 13px;
    cursor: pointer;
}

#select_dept {
    position: absolute;
    left: 85%;
    top: 41%;
    color: #bbbbbb;
    cursor: pointer;
}

#userdept {
    width: 332px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    padding: 17px 15px;
    margin-bottom: 15px;
    color: black;
    font-size: 13px;
    cursor: pointer;
}

#useremail {
    width: 300px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    padding: 10px 15px;
    margin-bottom: 25px;
}

#useremail::placeholder {
    color: #bbbbbb;
    font-size: 13px;
}

#userid {
    width: 300px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -70%);
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    padding: 10px 15px;
    margin-bottom: 15px;

}

#userid::placeholder {
    color: #bbbbbb;
    font-size: 13px;
}

#userpw {
    width: 300px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -70%);
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    padding: 10px 15px;
    margin-bottom: 20px;
}

#userpw::placeholder {
    color: #bbbbbb;
    font-size: 13px;
}