<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>본인인증</title>

    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

</head>
<body>
    <section id="container">
        <header id="header">
            <section class="inner">
                <h1 class="logo">
                    <a href="../signin_html/signIn_main.html">
                        <div class="logo_text">Together</div>
                    </a>
                    <div class="explain_text">본인인증</div>
                </h1>
            </section>
        </header>

        <form class="input_box">
            <input type="text" placeholder="이름을 입력하세요." id="username">
            <input type="text" placeholder="전화번호를 입력하세요." id="userphone">
            <!-- <input type="submit" value="본인인증" id="certification" onclick=""> -->
            <div id="cf_success">인증 완료</div>
            <a href="signUp_main.html" id="next_on">다음</a>
        </form>
    </section>

    <script src="../js/signin.js"></script>
</body>
</html>