/* 로고 옆 게시판 추가 */
.header-left {
    display: flex;
}

.header-left > i {
    color: #ff8a3d;
    padding-right: 5px;
    cursor: default;
}

.header-left > i:nth-child(4) {
    display: none;
}

.header-left>a:nth-child(5){
    cursor: default;
}


/* 전체 게시판 */
.centerChart {
    background-color: white;
    border-radius: 30px;
    padding: 20px 30px;
    height: 300px;
    margin: 0 0 30px 200px;
}

.centerChart .postList .board {
    font-size: 18px;
    font-weight: bold;
    color: #ff8a3d;
    padding: 10px 20px;
    border-bottom: 3px solid #ff8a3d;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.centerChart .postList .board > i {
    cursor: pointer;
}

.centerChart .postChart > li {
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid #bbbbbb;
    justify-content: space-between;
}

.centerChart .postChart > li > div > i{
    line-height: 28px;
    padding-right: 20px;
    cursor: pointer;
}

.centerChart .postChart > li > div {
    display: flex;
}

.centerChart .postChart .board-click {
    cursor: pointer;
}

.centerChart .postChart > li .postCount {
    line-height: 28px;
    font-size: 10px;
}

.centerChart .postTitle {
    font-size: 14px;
    font-weight: bold;
}

.centerChart .postExplain {
    font-size: 10px;
}

/* 인기 게시판 */
.centerChart .postChart > li > div > p {
    font-size: 10px;
    color: #ff8a3d;
    line-height: 28px;
    margin-left: 10px;
}

/* 문의사항 */
.writePost { 
    flex-direction: column;    
}

#Q-postform{
    padding: 0 0 10px 10px;
    color: #ff8a3d;
    font-size: 25px;
    border-bottom: 3px solid #ff8a3d;
    margin-bottom: 20px;
}

.writePost div{
    display: flex;
    margin-left: auto;
}
.writePost p{
    margin-right: 10px;
    font-size: 13px;
    line-height: 26px;
}

.writePost>div p{
    min-width: 32px;
}

#titleId,
#contentId,
#passwordId{
    border: 1px solid #bbbbbb;
    padding: 5px;
    font-size: 13px;
    width: 800px;
}

#write {
    /* margin-left: auto; */
    cursor: pointer;
}

.centerChart:nth-child(3) .board-click {
    line-height: 28px;
}

.centerChart:nth-child(3) .postChart i{
    color: #bbbbbb;
}

#essential{
    font-size: 10px;
    color: #ff8a3d;
    width: 100px;
    line-height: 32px;
}

#contentId{
    min-height: 350px;
}

/* 게시판 안의 게시물들 */
#posts{
    display: none;
}