body{
    background: #fafafa;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    width: 400px;
}


/* 로고 */
#header{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.logo{
    margin: 0px;
}

a {
    text-decoration: none ;
    cursor: pointer;
}

.logo_text {
    font-size: 40px;
	font-weight: bold;
    font-style: italic;
    color:  #FF8A3D;
    padding-bottom: 10px;
}
/* #FF8A3D */
.explain_text {
    font-size: 20px;
    color:black;
    padding-bottom: 20px;
    font-weight: normal;
}

/* 데이터 입력 */
.details{
    border-radius: 20px;
    border: 1px solid #bbbbbb;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
}


#userid,
#userpw,
#signin_btn {
    width: 332px;
    height: 52px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    margin-top: 10px;
    padding: 0px;
}



#signin_btn {
    background-color: #FF8A3D;
    border: 1px solid #FF8A3D;
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    cursor: pointer;
    margin: 0 0 20px 0;
}

#userid::placeholder,
#userpw::placeholder {
    color: #bbbbbb;
    font-size: 13px;
    padding-left: 10px;
    padding-right: auto;
}

#showIcon{
    position: relative;
    bottom: 40px;
    left: 300px;
    color: #bbbbbb;
    cursor: pointer;
}

/* login_details */
.login_details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line {
    width: 330px;
    margin-bottom: 20px;
}

.find,
.signUp {
    margin: 5px;
    display: flex;
    align-items: center;
}

.find>a {
    color: black;
}

.signUp>a {
    color: #FF8A3D;
    font-weight: bold;
    margin-left: 5px;
}

/* 아이디 비밀번호 찾기 */
.input_box1 {
    border-radius: 20px;
    border: 1px solid #bbbbbb;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

.find_box {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin: 30px 0 20px 0;
}


#find_id,
#find_pw_on {
    width: 160px;
    color: #FF8A3D;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid #FF8A3D;
    text-align: center;
    cursor: pointer;
    padding-bottom: 5px;
}

#find_id_on,
#find_pw{
    width: 160px;
    color: #bbbbbb;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-bottom: 0px;
    padding-bottom: 5px;
}


#idfind_btn,
#pwfind_btn {
    background-color: #FF8A3D;

    height: 52px;
    border-radius: 5px;
    border: 1px solid #FF8A3D;
    padding: 10px 15px;
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    cursor:pointer;
    margin: 10px 0 50px 0;
}

.username,
.useremail,
#signedupId {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    padding: 10px 15px;
    margin-bottom: 10px;
    
}

.username::placeholder,
.useremail::placeholder,
#signedupId::placeholder{
    color: #bbbbbb;
    font-size: 13px;
}
#input2,
#input3{
    display: none;
}

@media screen and (max-width:376px){
    #container,
    .details,
    .input_box1,
    .login_details,
    .line,
    #userid,
    #userpw,
    #signin_btn{
        width: 300px;
    }

    #showIcon{
        display: none;
    }

    #signin_btn{
        margin-top: 20px;
    }
}
