body{
    background: #fafafa;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
    border: 1px solid #bbbbbb;
    width: 400px;
    background-color: white;
    padding: 20px 0px;
}

/* 로고 */
#header .logo{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    margin: 0px;
}

a {
    text-decoration: none ;
    cursor: pointer;
}

.logo_text {
    font-size: 40px;
	font-weight: bold;
    font-style: italic;
    color: #FF8A3D;
    padding-bottom: 10px;
}

.explain_text {
    font-size: 25px;
    color:black;
    padding-left: 20px;
}


/* 본인 인증 */
#cfForm{
    display: flex;
    flex-direction: column;
}

.username,
#userphone,
#certification,
#cf_success {
    width: 332px;
    height: 52px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    margin-bottom: 10px;
    padding: 0px;
    
}

#certification {
    background-color: #FF8A3D;

    border: 1px solid #FF8A3D;
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    line-height: 52px;
    cursor: pointer;
    margin-top: 10px;
}

.username::placeholder,
#userphone::placeholder {
    color: #bbbbbb;
    font-size: 13px;
    padding-left: 10px;
}


/* 본인인증 버튼 */
#cf_box {
    width: 332px;
    height: 52px;
    display: none;
    align-items: center;
    margin: 10px 0;
}

#cf_num {
    background-color: #fafafa;

    width: 250px;
    height: 52px;
    border-radius: 5px;
    border: 1px solid #FF8A3D;
    padding-left: 10px;
    line-height: 52px;
}

#cf_num::placeholder {
    font-size: 13px;
    color: #bbbbbb;
}

.timer {
    color: #bbbbbb;
    display: none;
    align-items: center;
    position: absolute;
    font-size: 13px;
    transform: translate(55px, 245px);
}

#cf_btn {
    background-color: #FF8A3D;

    width: 70px;
    height: 52px;
    border-radius: 5px;
    border: 1px solid #FF8A3D;
    padding: 0px;
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    cursor: pointer;
    margin-left: 12px;
}

#cf_success {
    background-color: #bbbbbb;
    border: 1px solid #bbbbbb;
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    line-height: 52px;
    cursor: default;
    margin-top: 10px;
    justify-content: center;
}


#next,
#next_on {
    background-color: #FFC198;

    width: 80px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #FFC198;
    padding: 0px;
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    margin: 10px 33px 10px auto;
    text-align: center;

}

#next_on {
    background-color: #FF8A3D;
    border: 1px solid #FF8A3D;
    cursor: pointer;
}

/* 회원가입 */
#signupForm {
    display: none;
    flex-direction: column;
}


#username,
#usernum,
#userdept,
#useremail,
#userid,
#userpw {
    width: 332px;
    height: 52px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    margin-bottom: 15px;
    padding: 0px;
}

#usernum,
#userdept{
    width: 334px;
    height: 54px;
    padding-left: 10px;
    cursor: pointer;
}

select { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
} 

select::-ms-expand { 
    display: none; 
}

#select_num {
    position: absolute;
    left: 85%;
    top: 32%;
    color: #bbbbbb;
    cursor: pointer;
}

#select_dept {
    position: absolute;
    left: 85%;
    top: 43%;
    color: #bbbbbb;
    cursor: pointer;
}

#useremail::placeholder,
#userid::placeholder,
#userpw::placeholder {
    color: #bbbbbb;
    font-size: 13px;
    padding-left: 10px;

}

#signup_btn {
    background-color: #FF8A3D;

    width: 332px;
    height: 52px;
    border-radius: 5px;
    border: 1px solid #FF8A3D;
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    cursor: pointer;
    margin: 10px 0;
}