body{
    background: #fafafa;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6.25rem auto;
    width: 25rem;
}


/* 로고 */
#header{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.logo{
    margin: 0px;
}

a {
    text-decoration: none ;
    cursor: pointer;
}

.logo_text {
    font-size: 2.5rem;
	font-weight: bold;
    font-style: italic;
    color:  #FF8A3D;
    padding-bottom: 0.625rem;
}
/* #FF8A3D */
.explain_text {
    font-size: 1.25rem;
    color:black;
    padding-bottom: 1.25rem;
    font-weight: normal;
}

/* 데이터 입력 */
.details{
    border-radius: 1.25rem;
    border: 1px solid #bbbbbb;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1.875rem;
}


#userid,
#userpw,
#signin_btn {
    width: 20.75rem;
    height: 3.25rem;
    border-radius: 0.3125rem;
    border: 1px solid #bbbbbb;
    margin-top: 0.625rem;
    padding: 0px;
}



#signin_btn {
    background-color: #FF8A3D;
    border: 1px solid #FF8A3D;
    color: #fafafa;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.875rem;
    cursor: pointer;
    margin: 0 0 1.25rem 0;
}

#userid::placeholder,
#userpw::placeholder {
    color: #bbbbbb;
    font-size: 0.8125rem;
    padding-left: 0.625rem;
    padding-right: auto;
}

#showIcon{
    position: relative;
    bottom: 2.5rem;
    left: 18.75rem;
    color: #bbbbbb;
    cursor: pointer;
}

/* login_details */
.login_details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line {
    width: 20.625rem;
    margin-bottom: 1.25rem;
}

.find,
.signUp {
    margin: 0.3125rem;
    display: flex;
    align-items: center;
}

.find>a {
    color: black;
}

.signUp>a {
    color: #FF8A3D;
    font-weight: bold;
    margin-left: 0.3125rem;
}

/* 아이디 비밀번호 찾기 */
.input_box1 {
    border-radius: 1.25rem;
    border: 1px solid #bbbbbb;
    width: 25rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.find_box {
    height: 3.25rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fafafa;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.875rem;
    margin: 1.875rem 0 1.25rem 0;
}


#find_id,
#find_pw_on {
    width: 10rem;
    color: #FF8A3D;
    font-size: 1.25rem;
    font-weight: bold;
    border-bottom: 3px solid #FF8A3D;
    text-align: center;
    cursor: pointer;
    padding-bottom: 0.3125rem;
}

#find_id_on,
#find_pw{
    width: 10rem;
    color: #bbbbbb;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-bottom: 0px;
    padding-bottom: 0.3125rem;
}


#idfind_btn,
#pwfind_btn {
    background-color: #FF8A3D;
    width: 20.75rem;
    height: 3.25rem;
    border-radius: 0.3125rem;
    border: 1px solid #FF8A3D;
    padding: 0.625rem 0.9375rem;
    color: #fafafa;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.875rem;
    cursor:pointer;
    margin: 0.625rem 0 3.125rem 0;
}

.username,
.useremail,
#signedupId {
    width: 18.75rem;
    height: 1.875rem;
    border-radius: 0.3125rem;
    border: 1px solid #bbbbbb;
    padding: 0.625rem 0.9375rem;
    margin-bottom: 0.625rem;
    
}

.username::placeholder,
.useremail::placeholder,
#signedupId::placeholder{
    color: #bbbbbb;
    font-size: 0.8125rem;
}
#input2,
#input3{
    display: none;
}

/* 모바일 웹 */
@media screen and (max-width:376px){
    html{
        font-size: 10px;
    }
    #container,
    .input_box1{
        width: 25rem;
    }

    #userid,
    #userpw,
    #signin_btn,
    .login_details,
    .line,
    .details{
        width: 22rem;
    }

    #showIcon{
        display: none;
    }

    #signin_btn{
        margin-top: 2rem;
    }
}
