body{
    background: #fafafa;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.25rem;
    border: 1px solid #bbbbbb;
    width: 25rem;
    background-color: white;
    padding: 1.25rem 0px;
    margin: 5.3125rem auto;
}

/* 로고 */
#header .logo{
    display: flex;
    align-items: center;
    padding-bottom: 1.875rem;
    margin: 0px;
}

a {
    text-decoration: none ;
    cursor: pointer;
}

.logo_text {
    font-size: 2.5rem;
	font-weight: bold;
    font-style: italic;
    color: #FF8A3D;
    padding-bottom: 0.625rem;
}

.explain_text {
    font-size: 1.5625rem;
    color:black;
    padding-left: 1.25rem;
}


/* 본인 인증 */
#cfForm{
    display: flex;
    flex-direction: column;
}

.username,
#userphone,
#certification,
#cf_success {
    width: 20.75rem;
    height: 3.25rem;
    border-radius: 0.3125rem;
    border: 1px solid #bbbbbb;
    margin-bottom: 0.625rem;
    padding: 0px;
    
}

#certification {
    background-color: #FF8A3D;

    border: 1px solid #FF8A3D;
    color: #fafafa;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 3.25rem;
    cursor: pointer;
    margin-top: 0.625rem;
}

.username::placeholder,
#userphone::placeholder {
    color: #bbbbbb;
    font-size: 0.8125rem;
    padding-left: 0.625rem;
}


/* 본인인증 버튼 */
#cf_box {
    width: 20.75rem;
    height: 3.25rem;
    display: none;
    align-items: center;
    margin: 0.625rem 0;
}

#cf_num {
    background-color: #fafafa;

    width: 15.625rem;
    height: 3.25rem;
    border-radius: 5px;
    border: 1px solid #FF8A3D;
    padding-left: 0.625rem;
    line-height: 3.25rem;
}

#cf_num::placeholder {
    font-size: 0.8125rem;
    color: #bbbbbb;
}

.timer {
    color: #bbbbbb;
    display: none;
    align-items: center;
    position: absolute;
    font-size: 0.8125rem;
    transform: translate(3.4375rem, 15.3125rem);
}

#cf_btn {
    background-color: #FF8A3D;

    width: 4.375rem;
    height: 3.25rem;
    border-radius: 0.3125rem;
    border: 1px solid #FF8A3D;
    padding: 0px;
    color: #fafafa;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 3.125rem;
    cursor: pointer;
    margin-left: 0.75rem;
}

#cf_success {
    background-color: #bbbbbb;
    border: 1px solid #bbbbbb;
    color: #fafafa;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 3.25rem;
    cursor: default;
    margin-top: 0.625rem;
    justify-content: center;
}


#next,
#next_on {
    background-color: #FFC198;

    width: 5rem;
    height: 3.125rem;
    border-radius: 0.3125rem;
    border: 1px solid #FFC198;
    padding: 0px;
    color: #fafafa;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 3.125rem;
    margin: 0.625rem 2.0625rem 0.625rem auto;
    text-align: center;

}

#next_on {
    background-color: #FF8A3D;
    border: 1px solid #FF8A3D;
    cursor: pointer;
}

/* 회원가입 */
#signupForm {
    display: none;
    flex-direction: column;
}


#username,
#usernum,
#userdept,
#useremail,
#userid,
#userpw {
    width: 332px;
    height: 52px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    margin-bottom: 10px;
    padding: 0px;
}

#usernum,
#userdept{
    width: 20.75rem;
    height: 3.375rem;
    padding-left: 0.625rem;
    cursor: pointer;
}

select { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
} 

select::-ms-expand { 
    display: none; 
}

#select_num,
#select_dept {
    position: relative;
    left: 19.375rem;
    bottom: 3.125rem;
    color: #bbbbbb;
    cursor: pointer;
    height: 0px;
}

#useremail::placeholder,
#userid::placeholder,
#userpw::placeholder {
    color: #bbbbbb;
    font-size: 0.8125rem;
    padding-left: 0.625rem;

}

#signup_btn {
    background-color: #FF8A3D;

    width: 20.75rem;
    height: 3.25rem;
    border-radius: 0.3125rem;
    border: 1px solid #FF8A3D;
    color: #fafafa;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.875rem;
    cursor: pointer;
    margin: 0.625rem 0;
}

/* 모바일 웹 */
@media screen and (max-width:376px){
    html{
        font-size: 10px;
    }
    #container{
        margin-top: 10rem;
        width: 25rem;
    }
    .username,
    #userphone,
    #certification,
    #cf_success,
    #cf_box,
    #username,
    #usernum,
    #userdept,
    #useremail,
    #userid,
    #userpw,
    #signup_btn {
        width: 22rem;
        height: 3.45rem;
    }

    #cf_btn{
        margin-left: 1rem;
    }
    .timer{
        position: relative;
        bottom: 17.8rem;
        height: 0;
    }

    #next,
    #next_on{
        margin-right: 1.6rem;
    }

    #usernum,
    #userdept{
        font-size: 1rem;
        height: 3.65rem;
        width: 22rem;
    }

    #select_num,
    #select_dept{
        position: relative;
        top: 1rem;
    }

}
